<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Rapid D3 v.3
		meta(name="description" content="template")
		meta(name="keywords" content="template")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")

		//- link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		//- link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="./assets/css/style.css")
		
		
	body
		h1 Rapid D3 v.3
		
		h2 AFC Wimbledon Results
		div#results.results
		
		h2#team-name
		div.page-title
		div
			h2#team-name
		br
		div.content
		
		
		//- include ./modules/table.jade

		script(src="./assets/main.js")
